{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}

<title>Concert Booker - {{event.name}}</title>
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<main>
  <!-- TOP IMAGE -->
  <div class="container">
    <div class="shadow p-3 bg-body rounded text-center">
      <h1>{{event.name}}</h1>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="container" id="padded-container">
    <div class="shadow p-3 mb-5 bg-body rounded">

      <div class="row">

        <div class="col-lg-6">

          <div class="give-me-space">
            <div class="card">
              <div class="card-header">
                <h4>LOCATION</h4>
              </div>
              <p><strong>Location: </strong>{{event.location}}</p>
            </div>
          </div>

          <div class="give-me-space">
            <div class="card">
              <div class="card-header">
                <h4>DATE & TIME</h4>
              </div>
              <p><strong>Date: </strong>{{event.date}}</p>
              <p><strong>Start time: </strong>{{event.time}}</p>
            </div>
          </div>

          <div class="give-me-space">
            <div class="card">
              <div class="card-header">
                <h4>OTHER INFORMATION</h4>
              </div>
              <p><strong>Pricing: $</strong>{{event.price}}</p>
              <p><strong>Status:</strong> {{event.status}}</p>
              <p><strong>Genre:</strong> {{event.genre}}</p>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <div class="give-me-space">
            <img src="{{event.image}}" class="rounded mx-auto d-block">
          </div>
          <div class="give-me-space">
            <button class="btn btn-primary mx-auto d-block" type="button" data-bs-toggle="modal" data-bs-target="#cardmodal">Book
              tickets</button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="give-me-space">
          <div class="card">
            <div class="card-header">
              <h4>ABOUT EVENT</h4>
            </div>
            <p>{{event.description}}</p>
          </div>
        </div>
      </div>



    </div>

    <!-- COMMENT SECTION -->
    <div class="row">
      <div class="give-me-space">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>SEE WHAT OTHERS ARE SAYING...</h4>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                  <div class="card-body p-4">
                    {{wtf.quick_form(form,"/events/{0}/comment".format(event.id))}}
                    {% for comment in event.comments %}
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-3 col-md-2">
                            <p><strong>{{comment.user_name}}</strong></p>
                          </div>
                          <div class="col-7 col-md-10">
                            <p>{{comment.text}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-secondary" href="#top" role="button" id="backtotop">Back to top</a>
    </div>
  </div>

  <div class="modal fade" id="cardmodal" tabindex="-1" aria-labelledby="concertCardLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 500px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="concertCardLabel">Book tickets - {{event.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="max-height: 700px">
          {{wtf.quick_form(form1,"/events/{0}/book".format(event.id))}}
        </div>
      
          
        
      </div>
    </div>
  </div>
</main>
{% endblock %}