{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}

<title>Concert Booker - {{event.name}}</title>
{% endblock %}

{% block content %}

  <main>
    <!-- TOP IMAGE -->
    <div class="container-fluid">
      <div class="carousel">
        <div class="img-gradient">
          <img src="{{event.image}}" class="d-block w-100">
        </div>
        <div class="carousel-caption">
          <h1>{{event.name}}</h1>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="container" id="padded-container">
      <div class="shadow p-3 mb-5 bg-body rounded">

        <div class="row">

          <div class="col-lg-6">
            <div class="give-me-space">
              <div class="card">
                <div class="card-header">
                  <h4>LOCATION</h4>
                </div>
                <p><strong>Location: </strong>{{event.location}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="give-me-space">
              <img src="{{event.image}}" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="give-me-space">
              <div class="card">
                <div class="card-header">
                  <h4>DATE & TIME</h4>
                </div>
                <p><strong>Date: </strong>{{event.date}}</p>
                <p><strong>Start time: </strong>{{event.time}}</p>
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>OTHER INFORMATION</h4>
              </div>
              <p><strong>Pricing: $</strong>{{event.price}}</p>
              <p><strong>Status:</strong> {{event.status}}</p>
              <div class="card-header">
                <h4>ABOUT EVENT</h4>
              </div>
              
              <p>{{event.description}}</p>
            </div>
          </div>
        </div>

        <!-- COMMENT SECTION -->
        <div class="row">
          <div class="give-me-space">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>SEE WHAT OTHERS ARE SAYING...</h4>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-12">
                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                      <div class="card-body p-4">
                        {{wtf.quick_form(form,"/events/{0}/comment".format(event.id))}}
                        {% for comment in event.comments %}
                        <div class="card mb-4">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-3 col-md-2">
                                <p><strong>{{comment.user_name}}</strong></p>
                              </div>
                              <div class="col-7 col-md-10">
                                <p>{{comment.text}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-secondary" href="#top" role="button" id="backtotop">Back to top</a>
        </div>
      </div>
    </div>

    <!-- BOOKING OFFCANVAS -->
    <div class="offcanvas offcanvas-end" id="bookingOffCanvas" data-bs-scroll="true">
      <div class="offcanvas-header">
        <h2 id="bookingCanvasHeaderLabel">Book Tickets</h2>
      </div>
      <div class="offcanvas-body">

        <form>
          <div class="row">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInputGrid">
              <label for="floatingInputGrid">Email address</label>
              <div class="form-text">Your receipt will be sent to this address.</div>
            </div>
          </div>

          <div class="row">
            <div class="form-floating">
              <select class="form-select">
                <option selected>Please select number of tickets</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <div class="form-text">Max 10 tickets per booking.</div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
          </div>

          <div class="col">
            <button type="button" class="btn btn-secondary" data-bs-toggle="offcanvas"
              data-bs-target="#bookingOffCanvas" data-bs-target=>Confirm Booking</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% endblock %}