{% extends 'base.html' %}

{% block head %}

<title>Concert Booker - Create Event</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>

    <div class="container">
      <div class="d-flex justify-content-center" id="page-header">
        <h1>Create an Event</h1>
      </div>
    </div>


  <div class="container" id="padded-container">
    <div class="shadow p-3 mb-5 bg-body rounded">
      <form>
        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="nameInput" class="col-form-label">EVENT NAME</label>
          </div>
          <div class="col-9 col-md-10">
            <input type="text" id="nameInput" class="form-control" placeholder="Enter an event name...">
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="genreSelect" class="col-form-label">GENRE</label>
          </div>
          <div class="col-9 col-md-10">
            <select id="genreSelect" class="form-control">
              <option selected disabled>Select a genre...</option>
              <option>Rock</option>
              <option>Pop</option>
              <option>Hip Hop</option>
              <option>Jazz</option>
              <option>Country</option>
              <option>Heavy Metal</option>
              <option>EDM</option>
              <option>R&B</option>
            </select>
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="dateInput" class="col-form-label">DATE</label>
          </div>
          <div class="col-9 col-md-10">
            <input type="date" id="dateInput" class="form-control">
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="timeInput" class="col-form-label">TIME</label>
          </div>
          <div class="col-9 col-md-10">
            <input type="time" id="timeInput" class="form-control">
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="locationInput" class="col-form-label">LOCATION</label>
          </div>
          <div class="col-9 col-md-10">
            <input type="text" id="locationInput" class="form-control" placeholder="Enter a location...">
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="priceInput" class="col-form-label">PRICE $</label>
          </div>
          <div class="col-9 col-md-10">
            <input type="number" id="priceInput" class="form-control" placeholder="Enter a price..." min="0"
              max="500">
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="ticketInput" class="col-form-label">TICKETS AVALIABLE</label>
          </div>
          <div class="col-9 col-md-10">
            <input type="number" id="ticketInput" class="form-control" placeholder="Enter number of tickets" min="0"
              max="99999">
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="descriptionInput" class="col-form-label">EVENT DESCRIPTION</label>
          </div>
          <div class="col-9 col-md-10">
            <textarea type="text" id="descriptionInput" class="form-control"
              placeholder="Enter a description for the event" rows="5"></textarea>
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-3 col-md-2">
            <label for="statusSelect" class="col-form-label">STATUS</label>
          </div>
          <div class="col-9 col-md-10">
            <select id="statusSelect" class="form-control">
              <option selected disabled>Select a status...</option>
              <option>Upcoming</option>
              <option>Inactive</option>
              <option>Booked</option>
              <option>Cancelled</option>
            </select>
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-12 col-lg-4">
            <label for="headImg" class="col-form-label">SELECT A FEATURE IMAGE</label>
          </div>
          <div class="col-12 col-lg-8">
            <input type="file" id="headImg" class="form-control">
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="col-12 col-lg-4">
            <label for="extraImg" class="col-form-label">SELECT SMALLER IMAGE/S FOR EVENT BODY</label>
          </div>
          <div class="col-12 col-lg-8">
            <input type="file" id="extraImg" class="form-control" multiple>
          </div>
        </div>

        <div class="row" id="eventForm">
          <div class="btn-group" role="group">
            <button class="btn btn-outline-dark" type="button">Submit</button>
            <button class="btn btn-outline-dark" type="button">Cancel</button>
          </div>
        </div>
    </div>


    </form>

  </div>
  </div>

</main>
{% endblock %}