{% extends 'base.html' %}

{% block head %}

<title>Concert Booker - Home</title>
{% endblock %}

{% block header %}
<!-- TOP IMAGE -->
<div class="container-fluid">
  <div class="class=" carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="img-gradient">
        <img src="static\image\mainbackground.jpg" class="w-100">
      </div>
      <div class="carousel-caption" id="carousel-main">
        <div class="col-6 align-self-start">
          <div class="row text-center">
            <div class="col">
              <a href="{{url_for('main.rock')}}" class="link-secondary"><h2>Rock</h2></a>
            </div>
            <div class="col">
              <a href="{{url_for('main.pop')}}" class="link-secondary"><h2>Pop</h2></a>
            </div>
            <div class="col">
              <a href="{{url_for('main.electronic')}}" class="link-secondary"><h2>Electronic</h2></a>
            </div>
            <div class="col">
              <a href="{{url_for('main.hiphop')}}" class="link-secondary"><h2>Hip Hop</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block content %}
<main>
  <!-- POPULAR SECTION -->
  <div class="container">
    <div class="shadow p-3 mb-5 bg-body rounded">
      <h1 class="sectionTitle"><u class="sectionTitle">Popular Concerts</u></h1>
      <div class="row row-cols-2 row-cols-md-3 row-cols-xxl-6 align-items-center">

        {% for event in events %}
        {% if event.num_tickets > 100 %}
        <div class="col-sm d-flex h-100">
          <a class="card text-black" id="smallPopular" href="{{url_for('events.show', id=event.id)}}">
            <img src="{{event.image}}" class="card-img-fluid">
            <div class="card-footer">
              <small class="text-muted">{{event.status}}</small>
              <h5 class="card-title">{{event.name}}</h5>
            </div>
          </a>
        </div>

        {% endif %}
        {% endfor %}


      </div>
    </div>

  </div>
  <!-- NAV TABS -->
  <div class="container">
    <div class="shadow p-3 mb-5 bg-body rounded">
      <h1 class="sectionTitle"><u class="sectionTitle">Discover</u></h1>

      <!-- ROW 1 -->
      <div class="row row-cols-1 row-cols-md-2">
        <!-- COL 1 -->
        {% for event in events %}
        <!-- <div class="give-me-space">
          <div class="col">
            <a class="card h-50 bg-dark text-white font-weight-bold"  href="{{url_for('events.show', id=event.id)}}">
              <img src="{{event.image}}" class="card-img">
              <div class="card-img-overlay">
                <h5 class="card-title">{{event.title}}</h5>
                <h6 class="card-text d-none d-lg-block">{{event.description}}</h6>
                <p class="card-text">{{event.status}}</p>
              </div>
            </a>
          </div>
        </div> -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text"><small class="text-muted">{{event.status}}</small></p>
          </div>
          <img class="card-img-bottom" style="height: 25rem; width: 35rem;" src="{{event.image}}" alt="Card image cap">
        </div>
        {% endfor %}


    </div>
  </div>
</main>
{% endblock %}