{% extends 'base.html' %}

{% block head %}

<title>Concert Booker - Home</title>
{% endblock %}

{% block header %}
  <!-- TOP IMAGE -->
  <div class="container-fluid">
    <div class="class=" carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="img-gradient">
          <img src="static\image\featured.jpg" class="w-100">
        </div>
        <div class="carousel-caption" id="carousel-main">
          <div class="col-6 align-self-start">
            <h6>UPCOMING</h6>
            <h1>BLISS N ESO</h1>
            <div class="d-none d-lg-block">
              <p class="lead">One of the country’s finest hip hop acts, Bliss n Eso are
                excited to announce a 29-date
                metro
                and regional Australian tour.</p>
            </div>
            <a class="btn btn-primary" href="event_details.html" role="button">Find Tickets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main>
   
    <!-- EVENT MODAL -->
    <div class="modal fade" id="cardmodal" tabindex="-1" aria-labelledby="concertCardLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 1000px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="concertCardLabel">BLISS N ESO - THE SUN TOUR</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="max-height: 700px">
            <img src="https://i.ytimg.com/vi/WvcK9FkZNgw/maxresdefault.jpg" class="card-img">
            <h5>Dates and Locations</h5>
            <ul>
              <li>Jan 21, 2022 @ The Fortitude Music Hall - Brisbane, QLD</li>
              <li>Jan 23, 2022 @ NightQuarter - Helensvale, QLD</li>
              <li>Jan 26, 2022 @ Harrup Park - South Mackay, QLD</li>
            </ul>
            <h5>About the Event:</h5>
            <h6><strong>One of the country’s finest hip hop acts, Bliss n Eso are excited to announce a 29-date
                metro and regional Australian tour.</strong></h6>
            <p>In what is a truly national tour, the three-time ARIA-award winning group will take their electric
              energy and unmatchable flow to audiences in every Australian state and territory throughout January to
              April 2022.</p>

            <p>Due to commence in September but unfortunately with current COVID-19 restrictions and border closures
              across Australia, the 2021 ‘Send It Tour’ will be cancelled and all tickets transferred across to the
              2022 ‘The Sun Tour’ dates. Ticket holders will be contacted directly by ticketing agencies and fans
              are urged to #keepyourtickets.</p>

            <p>The group will be touring in support of their polychromatic seventh studio album The Sun, out
              tomorrow via Flight Deck/Mushroom. Bliss n Eso have long juxtaposed light and dark, blissful and
              melancholy, and strong and vulnerable. Nonetheless, The Sun finds hope in somber experiences,
              heightening the album’s sense of release. As a group that has grown up through their music over many
              years, The Sun initiates a new cycle and provides solace in this age of disquiet, thematising
              contemplation, healing and fortitude.</p>

            <p>Renowned for their captivating live performances and boisterous energy – don't miss out on tickets to
              see Australia’s finest, Bliss n Eso perform nationally for the first time in over four years, next
              January - April 2022.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="event_details.html" class="btn btn-primary" tabindex="-1" role="button">Find Tickets</a>
          </div>
        </div>
      </div>
    </div>
    <!-- POPULAR SECTION -->
    <div class="container">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <h1 class="sectionTitle"><u class="sectionTitle">Popular Concerts</u></h1>
        <div class="row row-cols-2 row-cols-md-3 row-cols-xxl-6 align-items-center">

          <div class="col">
            <a class="card text-black" id="smallPopular" href="#cardmodal" data-bs-toggle="modal"
              data-bs-target="#cardmodal">
              <img src="static\image\music_placeholder.png" class="card-img-fluid">
              <div class="card-footer">
                <small class="text-muted">Upcoming</small>
                <h5 class="card-title">Upcoming Event</h5>
              </div>
            </a>
          </div>

          <div class="col">
            <a class="card text-black" id="smallPopular" href="#cardmodal" data-bs-toggle="modal"
              data-bs-target="#cardmodal">
              <img src="static\image\music_placeholder.png" class="card-img-fluid">
              <div class="card-footer">
                <small class="text-muted">Upcoming</small>
                <h5 class="card-title">Upcoming Event</h5>
              </div>
            </a>
          </div>

          <div class="col">
            <a class="card text-black" id="smallPopular" href="#cardmodal" data-bs-toggle="modal"
              data-bs-target="#cardmodal">
              <img src="static\image\music_placeholder.png" class="card-img-fluid">
              <div class="card-footer">
                <small class="text-muted">Upcoming</small>
                <h5 class="card-title">Upcoming Event</h5>
              </div>
            </a>
          </div>

          <div class="col">
            <a class="card text-black" id="smallPopular" href="#cardmodal" data-bs-toggle="modal"
              data-bs-target="#cardmodal">
              <img src="static\image\music_placeholder.png" class="card-img-fluid">
              <div class="card-footer">
                <small class="text-muted">Upcoming</small>
                <h5 class="card-title">Upcoming Event</h5>
              </div>
            </a>
          </div>

          <div class="col">
            <a class="card text-black" id="smallPopular" href="#cardmodal" data-bs-toggle="modal"
              data-bs-target="#cardmodal">
              <img src="static\image\music_placeholder.png" class="card-img-fluid">
              <div class="card-footer">
                <small class="text-muted">Upcoming</small>
                <h5 class="card-title">Upcoming Event</h5>
              </div>
            </a>
          </div>

          <div class="col">
            <a class="card text-black" id="smallPopular" href="#cardmodal" data-bs-toggle="modal"
              data-bs-target="#cardmodal">
              <img src="static\image\music_placeholder.png" class="card-img-fluid">
              <div class="card-footer">
                <small class="text-muted">Upcoming</small>
                <h5 class="card-title">Upcoming Event</h5>
              </div>
            </a>
          </div>


        </div>
      </div>

    </div>
    <!-- NAV TABS -->
    <div class="container">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <h1 class="sectionTitle"><u class="sectionTitle">View by Genre</u></h1>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <button class="nav-link active" id="genre1" data-bs-toggle="tab" data-bs-target="#genre1" type="button"
              role="tab" aria-controls="genre1" aria-selected="true">Genre 1</button>

            <button class="nav-link" id="genre2" data-bs-toggle="tab" data-bs-target="#genre2" type="button" role="tab"
              aria-controls="genre2" aria-selected="false">Genre 2</button>

            <button class="nav-link" id="genre3" data-bs-toggle="tab" data-bs-target="#genre3" type="button" role="tab"
              aria-controls="genre3" aria-selected="false">Genre 3</button>

            <button class="nav-link" id="genre4" data-bs-toggle="tab" data-bs-target="#genre4" type="button" role="tab"
              aria-controls="genre4" aria-selected="false">Genre 4</button>

          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="genre1" role="tabpanel">
            <!-- ROW 1 -->
            <div class="row row-cols-1 row-cols-md-2">
              <!-- COL 1 -->
              <div class="give-me-space">
                <div class="col">
                  <a class="card bg-dark text-white" href="#cardmodal" data-bs-toggle="modal"
                    data-bs-target="#cardmodal">
                    <img src="static\image\card.jpg" class="card-img">
                    <div class="card-img-overlay">
                      <h5 class="card-title">BLISS N ESO - THE SUN TOUR</h5>
                      <h6 class="card-text d-none d-lg-block">One of the country’s finest hip hop acts, Bliss n Eso are excited to
                        announce
                        a 29-date metro and regional Australian tour.</h6>
                      <p class="card-text">Upcoming</p>
                    </div>
                  </a>
                </div>
              </div>

              <!-- COL 2 -->
              <div class="give-me-space">
                <div class="col">
                  <a class="card bg-dark text-white" href="#cardmodal" data-bs-toggle="modal"
                    data-bs-target="#cardmodal">
                    <img src="static\image\card.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">BLISS N ESO - THE SUN TOUR</h5>
                      <h6 class="card-text d-none d-lg-block">One of the country’s finest hip hop acts, Bliss n Eso are excited to
                        announce
                        a 29-date metro and regional Australian tour.</h6>
                      <p class="card-text">Cancelled</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <!-- ROW 2 -->
            <div class="row row-cols-1 row-cols-md-2">
              <!-- COL 1 -->
              <div class="give-me-space">
                <div class="col">
                  <a class="card bg-dark text-white" href="#cardmodal" data-bs-toggle="modal"
                    data-bs-target="#cardmodal">
                    <img src="static\image\card.jpg" class="card-img">
                    <div class="card-img-overlay">
                      <h5 class="card-title">BLISS N ESO - THE SUN TOUR</h5>
                      <h6 class="card-text d-none d-lg-block">One of the country’s finest hip hop acts, Bliss n Eso are excited to
                        announce
                        a 29-date metro and regional Australian tour.</h6>
                      <p class="card-text">Booked</p>
                    </div>
                  </a>
                </div>
              </div>

              <!-- COL 2 -->
              <div class="give-me-space">
                <div class="col">
                  <a class="card bg-dark text-white" href="#cardmodal" data-bs-toggle="modal"
                    data-bs-target="#cardmodal">
                    <img src="static\image\card.jpg" class="card-img">
                    <div class="card-img-overlay">
                      <h5 class="card-title">BLISS N ESO - THE SUN TOUR</h5>
                      <h6 class="card-text d-none d-lg-block">One of the country’s finest hip hop acts, Bliss n Eso are excited to
                        announce
                        a 29-date metro and regional Australian tour.</h6>
                      <p class="card-text">Upcoming</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="genre2" role="tabpanel"></div>
          <div class="tab-pane fade" id="genre3" role="tabpanel"></div>
          <div class="tab-pane fade" id="genre4" role="tabpanel"></div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}