{% extends 'base.html' %}

{% block head %}

<title>Concert Booker - My Bookings</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


    <!-- Booked Events -->
    <div class="container">
        <div class="d-flex justify-content-center" id="page-header">
          <h1>Booked Events</h1>
        </div>
    </div>

    <div class="container" id="padded-container">
        <div class="shadow p-3 mb-5 bg-body rounded">
          {% for bookings in booking %}
          {% if current_user.id == bookings.user_id %}
          {% for event in events %}
          {% if event.id == bookings.event_id %}

          <div class="give-me-space">
            <div class="card">
  
              <div class="card-header">
                <h4>{{event.name}}</h4>
              </div>
  
              <div class="row align-items-center justify-content-center">
                <!-- INFO COLUMN -->
                <div class="col-12 col-md-9 align-self-center">
                  <div class="row">
                    <div class="col">
                      <p class="m-1"><strong>Location:</strong></p>
                    </div>
                    <div class="col">
                      <p class="m-1">{{event.location}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="m-1"><strong>Date:</strong></p>
                    </div>
                    <div class="col">
                      <p class="m-1">{{event.date}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="m-1"><strong>Time:</strong></p>
                    </div>
                    <div class="col">
                      <p class="m-1">{{event.time}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="m-1"><strong>Ticket Price:</strong></p>
                    </div>
                    <div class="col">
                      <p class="m-1">${{bookings.price}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="m-1"><strong>Total Tickets:</strong></p>
                    </div>
                    <div class="col">
                      <p class="m-1">{{bookings.qty}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <p class="m-1"><strong>Total Cost:</strong></p>
                    </div>
                    <div class="col">
                      <p class="m-1">{{bookings.qty * bookings.price}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <p class="m-1"><strong>Booking Number:</strong></p>
                    </div>
                    <div class="col">
                      <p class="m-1">{{bookings.id}}{{current_user.id}}{{event.id}}</p>
                    </div>
                  </div>

                </div>


  
                <!-- IMAGE COLUMN -->
                <div class="col-12 col-md-3 align-self-center">
                  <img src="{{event.image}}" class="card-img-top img-thumbnail" id="cardTop2">
                </div>
  
              </div>
              <div class="card-footer">
                  <div class="d-grid gap-2 d-flex justify-content-center">

                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
  
  
          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-secondary" href="#top" role="button" id="backtotop">Back to top</a>
          </div>
  
        </div>
      </div>

  </main>
{% endblock %}