{% extends 'base.html' %}

{% block head %}

<title>Concert Booker - My Events</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>
    <!-- Created Events -->
    <div class="container">
        <div class="d-flex justify-content-center" id="page-header">
            <h1>Created Events</h1>
        </div>
    </div>
    <div class="container" id="padded-container">
      <div class="shadow p-3 mb-5 bg-body rounded">
        {% for event in events %}
        {% if current_user.id == event.creator_id %}
        <div class="give-me-space">
          <div class="card">

            <div class="card-header">
              <h4>{{event.name}}</h4>
            </div>

            <div class="row align-items-center justify-content-center">
              <!-- INFO COLUMN -->
              <div class="col-12 col-md-9 align-self-center">
                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Location:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">{{event.location}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">{{event.date}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Time:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">{{event.time}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Ticket Price:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">${{event.price}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Total Tickets:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">{{event.num_tickets}}</p>
                  </div>
                </div>
              </div>

              <!-- IMAGE COLUMN -->
              <div class="col-12 col-md-3 align-self-center">
                <img src="{{event.image}}" class="img-thumbnail" id="historyThumbnail">
              </div>

            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-flex justify-content-center">
                <a class="btn btn-secondary" href="{{url_for('events.show', id=event.id)}}" role="button">View</a>
                <a class="btn btn-secondary" href="{{ url_for('events.edit')}}" role="button">Edit</a>
                <a class="btn btn-secondary" href="{{ url_for('events.delete', id=event.id)}}" role="button">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}


        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-secondary" href="#top" role="button" id="backtotop">Back to top</a>
        </div>

      </div>
    </div>

    <!-- Booked Events -->
    <div class="container">
        <div class="d-flex justify-content-center" id="page-header">
          <h1>Booked Events</h1>
        </div>
    </div>

    <div class="container" id="padded-container">
        <div class="shadow p-3 mb-5 bg-body rounded">
          {% for event in events %}
          {% if current_user.id == event.creator_id %}
          <div class="give-me-space">
            <div class="card">
  
              <div class="card-header">
                <h4>{{event.name}}</h4>
              </div>
  
              <div class="row align-items-center justify-content-center">
                <!-- INFO COLUMN -->
                <div class="col-12 col-md-9 align-self-center">
                  <div class="row">
                    <div class="col">
                      <p class="card-text"><strong>Location:</strong></p>
                    </div>
                    <div class="col">
                      <p class="card-text">{{event.location}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="card-text"><strong>Date:</strong></p>
                    </div>
                    <div class="col">
                      <p class="card-text">{{event.date}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="card-text"><strong>Time:</strong></p>
                    </div>
                    <div class="col">
                      <p class="card-text">{{event.time}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="card-text"><strong>Ticket Price:</strong></p>
                    </div>
                    <div class="col">
                      <p class="card-text">${{event.price}}</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <p class="card-text"><strong>Total Tickets:</strong></p>
                    </div>
                    <div class="col">
                      <p class="card-text">{{event.num_tickets}}</p>
                    </div>
                  </div>
                </div>
  
                <!-- IMAGE COLUMN -->
                <div class="col-12 col-md-3 align-self-center">
                  <img src="{{event.image}}" class="img-thumbnail" id="historyThumbnail">
                </div>
  
              </div>
              <div class="card-footer">
                  <div class="d-grid gap-2 d-flex justify-content-center">
                  <a class="btn btn-secondary" href="{{url_for('events.show', id=event.id)}}" role="button">View</a>
                  <a class="btn btn-secondary" href="{{ url_for('events.edit')}}" role="button">Edit</a>
                  <a class="btn btn-secondary" href="{{ url_for('events.edit')}}" role="button">Delete</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
  
  
          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-secondary" href="#top" role="button" id="backtotop">Back to top</a>
          </div>
  
        </div>
      </div>

  </main>
{% endblock %}