{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="sticky-top">
      <div class="container">
        <div class="d-flex justify-content-center" id="page-header">
          <h1>Booking History</h1>
        </div>
      </div>
    </div>

    <!-- HISTORY SECTIONS -->
    <div class="container" id="padded-container">

      <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="give-me-space">
          <div class="card">
            <div class="card-header">
              <h4>Past Event</h4>
            </div>

            <div class="row align-items-center justify-content-center">
              <!-- INFO COLUMN -->
              <div class="col-12 col-md-9 align-self-center">
                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Location:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">Event Location</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">September 15th 2021</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Time:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7pm</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Order ID:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">LOLWUT101</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">19/08/2021 21:00AEST</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Ticket Price:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">$84</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Tickets Booked:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7</p>
                  </div>
                </div>
              </div>

              <!-- IMAGE COLUMN -->
              <div class="col-12 col-md-3 align-self-center">
                <img src="img/featured.jpg" class="img-thumbnail" id="historyThumbnail">
              </div>

            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-secondary" href="#historymodal" role="button" data-bs-toggle="modal"
                  data-bs-target="#historymodal">View Event Description</a>
              </div>
            </div>
          </div>
        </div>

        <div class="give-me-space">
          <div class="card">
            <div class="card-header">
              <h4>Past Event</h4>
            </div>

            <div class="row align-items-center justify-content-center">
              <!-- INFO COLUMN -->
              <div class="col-12 col-md-9 align-self-center">
                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Location:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">Event Location</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">September 15th 2021</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Time:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7pm</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Order ID:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">LOLWUT101</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">19/08/2021 21:00AEST</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Ticket Price:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">$84</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Tickets Booked:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7</p>
                  </div>
                </div>
              </div>

              <!-- IMAGE COLUMN -->
              <div class="col-12 col-md-3 align-self-center">
                <img src="img/featured.jpg" class="img-thumbnail" id="historyThumbnail">
              </div>

            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-secondary" href="#historymodal" role="button" data-bs-toggle="modal"
                  data-bs-target="#historymodal">View Event Description</a>
              </div>
            </div>
          </div>
        </div>

        <div class="give-me-space">
          <div class="card">
            <div class="card-header">
              <h4>Past Event</h4>
            </div>

            <div class="row align-items-center justify-content-center">
              <!-- INFO COLUMN -->
              <div class="col-12 col-md-9 align-self-center">
                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Location:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">Event Location</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">September 15th 2021</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Time:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7pm</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Order ID:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">LOLWUT101</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">19/08/2021 21:00AEST</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Ticket Price:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">$84</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Tickets Booked:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7</p>
                  </div>
                </div>
              </div>

              <!-- IMAGE COLUMN -->
              <div class="col-12 col-md-3 align-self-center">
                <img src="img/featured.jpg" class="img-thumbnail" id="historyThumbnail">
              </div>

            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-secondary" href="#historymodal" role="button" data-bs-toggle="modal"
                  data-bs-target="#historymodal">View Event Description</a>
              </div>
            </div>
          </div>
        </div>

        <div class="give-me-space">
          <div class="card">
            <div class="card-header">
              <h4>Past Event</h4>
            </div>

            <div class="row align-items-center justify-content-center">
              <!-- INFO COLUMN -->
              <div class="col-12 col-md-9 align-self-center">
                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Location:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">Event Location</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">September 15th 2021</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Time:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7pm</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Order ID:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">LOLWUT101</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Booking Date:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">19/08/2021 21:00AEST</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Ticket Price:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">$84</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="card-text"><strong>Tickets Booked:</strong></p>
                  </div>
                  <div class="col">
                    <p class="card-text">7</p>
                  </div>
                </div>
              </div>

              <!-- IMAGE COLUMN -->
              <div class="col-12 col-md-3 align-self-center">
                <img src="img/featured.jpg" class="img-thumbnail" id="historyThumbnail">
              </div>

            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-secondary" href="#historymodal" role="button" data-bs-toggle="modal"
                  data-bs-target="#historymodal">View Event Description</a>
              </div>
            </div>
          </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-secondary" href="#top" role="button" id="backtotop">Back to top</a>
        </div>

      </div>
    </div>

    <!-- EVENT MODAL -->
    <div class="modal fade" id="historymodal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 600px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Past Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="max-height: 600px">
            <img src="https://i.ytimg.com/vi/WvcK9FkZNgw/maxresdefault.jpg" class="card-img">
            <h5>About the Event:</h5>
            <h6><strong>One of the country’s finest hip hop acts, Bliss n Eso are excited to announce a 29-date
                metro and regional Australian tour.</strong></h6>
            <p>In what is a truly national tour, the three-time ARIA-award winning group will take their electric
              energy and unmatchable flow to audiences in every Australian state and territory throughout January to
              April 2022.</p>

            <p>Due to commence in September but unfortunately with current COVID-19 restrictions and border closures
              across Australia, the 2021 ‘Send It Tour’ will be cancelled and all tickets transferred across to the
              2022 ‘The Sun Tour’ dates. Ticket holders will be contacted directly by ticketing agencies and fans
              are urged to #keepyourtickets.</p>

            <p>The group will be touring in support of their polychromatic seventh studio album The Sun, out
              tomorrow via Flight Deck/Mushroom. Bliss n Eso have long juxtaposed light and dark, blissful and
              melancholy, and strong and vulnerable. Nonetheless, The Sun finds hope in somber experiences,
              heightening the album’s sense of release. As a group that has grown up through their music over many
              years, The Sun initiates a new cycle and provides solace in this age of disquiet, thematising
              contemplation, healing and fortitude.</p>

            <p>Renowned for their captivating live performances and boisterous energy – don't miss out on tickets to
              see Australia’s finest, Bliss n Eso perform nationally for the first time in over four years, next
              January - April 2022.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock %}